In [5]:
from datascience import *

In [7]:
Table().read_table('network2010.csv')

year | data_year | source    | target    | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1801001PD | 1801001E  | 1624                 | 163.1               | 0                | 1624
2010 | 2010      | 1801007PD | 1801007E  | 2015.2               | 163.1               | 0                | 2015.2
2010 | 2010      | 1801009PD | 1801017PD | 561.768              | 25                  | 0                | 557.004
2010 | 2010      | 1801009PD | 1801009E  | 2924.55              | 163.1               | 0                | 2924.55
2010 | 2010      | 1801011PD | 1801011E  | 1350                 | 163.1               | 0                | 1350
2010 | 2010      | 1801015PD | 1801017PD | 616.923              | 25                  | 0                | 611.692
2010 | 2010      | 1801015PD | 1801015E  | 840                  | 163.1               | 0                | 840
2010 | 2010      | 1801015PD | 1801019PD | 1415                 | 25                  | 0                | 1414.56
2010 | 2010      | 1801015PD | 1801001PD | 1460.72              | 87                  | 0                | 1460.72
2010 | 2010      | 1801015PD | 1801009PD | 2949                 | 25                  | 0                | 2924.55
... (13790 rows omitted)