In [2]:
import pandas as pd
import numpy as np

In [3]:
links_summary = pd.ExcelFile('data/links summary 1118.xlsx')
linkssum = links_summary.parse(0)
print(linkssum.columns)
linkssum.head()

Index(['WATER_SUPPLIER_NAME', 'old code', 'WATER_SUPPLY',
       'ADDITIONAL_WATER_SUPPLY_DETAIL', 'Purchased_WATER_QUALITY',
       'Final_WATER_QUALITY', 'Node1', 'Node2', 'Node3', 'Node4', 'Node5',
       'Trans_kWh/AF_Node1to2', 'Trt_kWh/AF_Node1to2', 'Trans_kWh/AF_Node2to3',
       'Trt_kWh/AF_Node2to3', 'Trans_kWh/AF_Node3to4', 'Trt_kWh/AF_Node3to4',
       'Trans_kWh/AF_Node4to5', '2015_Cum_Demand', '2020_Cum_demand',
       '2025_Cum_Demand', '2030_Cum_demand', '2035_Cum_demand',
       '2040_Cum_demand', '2015_End_Demand', '2020_End_Demand',
       '2025_End_Demand', '2030_End_Demand', '2035_End_Demand',
       '2040_End_Demand', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'WATER_SUPPLIER_NAME.1'],
      dtype='object')

,WATER_SUPPLIER_NAME,old code,WATER_SUPPLY,ADDITIONAL_WATER_SUPPLY_DETAIL,Purchased_WATER_QUALITY,Final_WATER_QUALITY,Node1,Node2,Node3,Node4,...,2015_End_Demand,2020_End_Demand,2025_End_Demand,2030_End_Demand,2035_End_Demand,2040_End_Demand,Unnamed: 30,Unnamed: 31,Unnamed: 32,WATER_SUPPLIER_NAME.1
0,Adelanto City Of,1809001,Purchased or Imported Water,Mojave Groundwater Basin - Alto Subarea; Futur...,Drinking Water,Drinking Water,0,0,GW1809-6-42,1809001PD,...,3787.0,9300.0,10444.0,11581.0,12640.0,13750.0,NaN,NaN,NaN,old code
1,Adelanto City Of,1809001,Transfers,Intertie with Victorville Water District,Drinking Water,Drinking Water,0,0,1809039PD,1809001PD,...,262.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,WATER_SUPPLY
2,Alameda County Flood Control District Zone 7,1805001W,Groundwater,Main Basin,NaN,Raw Water,0,0,GW1805-2-10,1805001WNPD,...,2000.0,0.0,10000.0,10000.0,10000.0,10000.0,NaN,NaN,NaN,ADDITIONAL_WATER_SUPPLY_DETAIL
3,Alameda County Flood Control District Zone 7,1805001W,Other,"Per WSE Update, could include desalination and...",NaN,NaN,0,0,NEW1805001W,1805001WPD,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Purchased_WATER_QUALITY
4,Alameda County Flood Control District Zone 7,1805001W,Purchased or Imported Water,Byron Bethany Irrigation District,NaN,NaN,0,SW1804SWP07,XF_BYRON,1805001WPD,...,0.0,2000.0,2000.0,2000.0,2000.0,2000.0,NaN,NaN,NaN,Final_WATER_QUALITY

In [4]:
system = pd.read_csv('data/system_links112718.csv')
system.head()

,year,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
0,2015,2010,CRA_EglMtn,CRA_Hinds,1000000.0,532.565056,0.0,0.0
1,2015,2010,CRA_Gene,CRA_IronMtn,1000000.0,370.959108,0.0,0.0
2,2015,2010,CRA_Hinds,SW_CRA_LkMthws,1000000.0,539.910781,0.0,0.0
3,2015,2010,CRA_IronMtn,CRA_EglMtn,1000000.0,176.297398,0.0,0.0
4,2015,2010,CRA_Whitsett,CRA_Gene,1000000.0,356.267658,0.0,0.0

In [5]:
ls = linkssum.drop(columns=['WATER_SUPPLIER_NAME', 'old code', 'WATER_SUPPLY',
                           'ADDITIONAL_WATER_SUPPLY_DETAIL', 'Purchased_WATER_QUALITY',
                           'Final_WATER_QUALITY', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
                            'WATER_SUPPLIER_NAME.1']) #drop columns that aren't used in final links table

#rename columns that had case mismatch
ls = ls.rename(columns={'2015_Cum_Demand': '2015_Cum_demand', '2025_Cum_Demand': '2025_Cum_demand'})

#drop any empty rows
ls = ls[ls['Node5'] != 0]
ls = ls[ls['Node4'] != 0]

In [6]:
print(ls.shape)
ls.head()

(1805, 24)

,Node1,Node2,Node3,Node4,Node5,Trans_kWh/AF_Node1to2,Trt_kWh/AF_Node1to2,Trans_kWh/AF_Node2to3,Trt_kWh/AF_Node2to3,Trans_kWh/AF_Node3to4,...,2025_Cum_demand,2030_Cum_demand,2035_Cum_demand,2040_Cum_demand,2015_End_Demand,2020_End_Demand,2025_End_Demand,2030_End_Demand,2035_End_Demand,2040_End_Demand
0,0,0,GW1809-6-42,1809001PD,1809001E,0.0,0.0,0.0,0.0,362.000000,...,10444.0,11581.0,12640.0,13750.0,3787.0,9300.0,10444.0,11581.0,12640.0,13750.0
1,0,0,1809039PD,1809001PD,1809001E,0.0,0.0,0.0,0.0,10.000000,...,0.0,0.0,0.0,0.0,262.0,0.0,0.0,0.0,0.0,0.0
2,0,0,GW1805-2-10,1805001WNPD,1805001WE,0.0,0.0,0.0,0.0,352.000000,...,10000.0,10000.0,10000.0,10000.0,2000.0,0.0,10000.0,10000.0,10000.0,10000.0
3,0,0,NEW1805001W,1805001WPD,1805001WE,0.0,0.0,0.0,0.0,24.669637,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,SW1804SWP07,XF_BYRON,1805001WPD,1805001WE,0.0,0.0,0.0,0.0,73.300000,...,2000.0,2000.0,2000.0,2000.0,0.0,2000.0,2000.0,2000.0,2000.0,2000.0

In [7]:
def get_rows(r, source_node, target_node):
    '''Function that computes rows for the final links table.
    It iterates through every fifth year from 2015 to 2040.
    
    Args:
        r (Pandas Series): row of the excel sheet
        source_node (str): column name for the source, e.g. "Node1"
        target_node (str): column name for the target
    
    Returns:
        list: the list of dictionaries that can be put into
        a Pandas DataFrame
    '''
    rows = []  # list to return
    
    for year in np.arange(2015, 2041, 5):  # iterate over each year
        row = {}  # row to construct for given year
        
        row['year'] = year       # year for both predicted and data
        row['data_year'] = 2015
        
        row['source'] = r[source_node]  # find source/target using
        row['target'] = r[target_node]  # function args
        
        node_num = target_node[4]  # get the target node number
        if node_num == '5':
            row['transmission_kwh/af'] = r['Trans_kWh/AF_Node4to5']    # get relevant information for end node
            row['cumulative_volume_af'] = r[str(year) + '_End_Demand']
            row['used_vol_af'] = r[str(year) + '_End_Demand']
        
        else:
            c_label = str(year) + '_Cum_demand'       # get info for the rest of the nodes
            row['cumulative_volume_af'] = r[c_label]  # "else" case does nodes 3 to 4.
            row['used_vol_af'] = 0
            
            if node_num == '2':
                row['transmission_kwh/af'] = r[5]     # r[#] is the column number for the
                row['treatment_kwh/af'] = r[6]        # node specfic trans/trt intensity

            elif node_num == '3':
                row['transmission_kwh/af'] = r[7]
                row['treatment_kwh/af'] = r[8]

            else:
                row['transmission_kwh/af'] = r[9]
                row['treatment_kwh/af'] = r[10]
        
        rows.append(row) # append final dict to list of rows
        
    return rows

In [8]:
# construct links table. the original set up was skipping through nodes 4 to 5, so 
# I deleted the control sequence. This might take longer but it's more comprehensive.
rows = []
for i, r in ls.iterrows():
    n1 = get_rows(r, 'Node1', 'Node2')    
    rows.extend(n1)
    n2 = get_rows(r, 'Node2', 'Node3')
    rows.extend(n2)
    n3 = get_rows(r, 'Node3', 'Node4')
    rows.extend(n3)
    n4 = get_rows(r, 'Node4', 'Node5')
    rows.extend(n4)

# check if the list looks okay.
rows[:5]

[{'year': 2015,
  'data_year': 2015,
  'source': 0,
  'target': 0,
  'cumulative_volume_af': 3787.0,
  'used_vol_af': 0,
  'transmission_kwh/af': 0.0,
  'treatment_kwh/af': 0.0},
 {'year': 2020,
  'data_year': 2015,
  'source': 0,
  'target': 0,
  'cumulative_volume_af': 9300.0,
  'used_vol_af': 0,
  'transmission_kwh/af': 0.0,
  'treatment_kwh/af': 0.0},
 {'year': 2025,
  'data_year': 2015,
  'source': 0,
  'target': 0,
  'cumulative_volume_af': 10444.0,
  'used_vol_af': 0,
  'transmission_kwh/af': 0.0,
  'treatment_kwh/af': 0.0},
 {'year': 2030,
  'data_year': 2015,
  'source': 0,
  'target': 0,
  'cumulative_volume_af': 11581.0,
  'used_vol_af': 0,
  'transmission_kwh/af': 0.0,
  'treatment_kwh/af': 0.0},
 {'year': 2035,
  'data_year': 2015,
  'source': 0,
  'target': 0,
  'cumulative_volume_af': 12640.0,
  'used_vol_af': 0,
  'transmission_kwh/af': 0.0,
  'treatment_kwh/af': 0.0}]

In [10]:
# get the columns from the 2010 links table; use this for ordering the columns in the next cell
ol = pd.read_csv('data/links_erl.csv')
ol.columns

Index(['year', 'data_year', 'source', 'target', 'cumulative_volume_af',
       'transmission_kwh/af', 'treatment_kwh/af', 'used_vol_af'],
      dtype='object')

In [11]:
data = pd.DataFrame(rows)  # putting the data in the list into a dataframe
data = data[ol.columns]    # reorder the oclumns
data.head(15)

,year,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
0,2015,2015,0,0,3787.0,0.0,0.0,0.0
1,2020,2015,0,0,9300.0,0.0,0.0,0.0
2,2025,2015,0,0,10444.0,0.0,0.0,0.0
3,2030,2015,0,0,11581.0,0.0,0.0,0.0
4,2035,2015,0,0,12640.0,0.0,0.0,0.0
5,2040,2015,0,0,13750.0,0.0,0.0,0.0
6,2015,2015,0,GW1809-6-42,3787.0,0.0,0.0,0.0
7,2020,2015,0,GW1809-6-42,9300.0,0.0,0.0,0.0
8,2025,2015,0,GW1809-6-42,10444.0,0.0,0.0,0.0
9,2030,2015,0,GW1809-6-42,11581.0,0.0,0.0,0.0
10,2035,2015,0,GW1809-6-42,12640.0,0.0,0.0,0.0
11,2040,2015,0,GW1809-6-42,13750.0,0.0,0.0,0.0
12,2015,2015,GW1809-6-42,1809001PD,3787.0,362.0,65.5,0.0
13,2020,2015,GW1809-6-42,1809001PD,9300.0,362.0,65.5,0.0
14,2025,2015,GW1809-6-42,1809001PD,10444.0,362.0,65.5,0.0

In [12]:
# drop rows where both source and target are 0 in the table
ind = []
for i, v in data.iterrows():
    if v['source'] == 0 and v['target'] == 0:
        ind.append(i)

data = data.drop(ind).reset_index(drop=True)
data.head(15)

,year,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
0,2015,2015,0,GW1809-6-42,3787.0,0.0,0.0,0.0
1,2020,2015,0,GW1809-6-42,9300.0,0.0,0.0,0.0
2,2025,2015,0,GW1809-6-42,10444.0,0.0,0.0,0.0
3,2030,2015,0,GW1809-6-42,11581.0,0.0,0.0,0.0
4,2035,2015,0,GW1809-6-42,12640.0,0.0,0.0,0.0
5,2040,2015,0,GW1809-6-42,13750.0,0.0,0.0,0.0
6,2015,2015,GW1809-6-42,1809001PD,3787.0,362.0,65.5,0.0
7,2020,2015,GW1809-6-42,1809001PD,9300.0,362.0,65.5,0.0
8,2025,2015,GW1809-6-42,1809001PD,10444.0,362.0,65.5,0.0
9,2030,2015,GW1809-6-42,1809001PD,11581.0,362.0,65.5,0.0
10,2035,2015,GW1809-6-42,1809001PD,12640.0,362.0,65.5,0.0
11,2040,2015,GW1809-6-42,1809001PD,13750.0,362.0,65.5,0.0
12,2015,2015,1809001PD,1809001E,3787.0,163.1,NaN,3787.0
13,2020,2015,1809001PD,1809001E,9300.0,163.1,NaN,9300.0
14,2025,2015,1809001PD,1809001E,10444.0,163.1,NaN,10444.0

In [14]:
# export data into csv
data.to_csv('with_nans.csv', index=False)

In [15]:
# checking the end/4 to 5 nodes
find_e = []
for i,v in data.iterrows():
    if type(v['target'])==str and v['target'][::-1][0] == 'E':
        find_e.append(i)
data.loc[find_e].head(15)

,year,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
12,2015,2015,1809001PD,1809001E,3787.0,163.1,NaN,3787.0
13,2020,2015,1809001PD,1809001E,9300.0,163.1,NaN,9300.0
14,2025,2015,1809001PD,1809001E,10444.0,163.1,NaN,10444.0
15,2030,2015,1809001PD,1809001E,11581.0,163.1,NaN,11581.0
16,2035,2015,1809001PD,1809001E,12640.0,163.1,NaN,12640.0
17,2040,2015,1809001PD,1809001E,13750.0,163.1,NaN,13750.0
30,2015,2015,1809001PD,1809001E,262.0,163.1,NaN,262.0
31,2020,2015,1809001PD,1809001E,0.0,163.1,NaN,0.0
32,2025,2015,1809001PD,1809001E,0.0,163.1,NaN,0.0
33,2030,2015,1809001PD,1809001E,0.0,163.1,NaN,0.0
34,2035,2015,1809001PD,1809001E,0.0,163.1,NaN,0.0
35,2040,2015,1809001PD,1809001E,0.0,163.1,NaN,0.0
48,2015,2015,1805001WNPD,1805001WE,2000.0,318.2,NaN,2000.0
49,2020,2015,1805001WNPD,1805001WE,0.0,318.2,NaN,0.0
50,2025,2015,1805001WNPD,1805001WE,10000.0,318.2,NaN,10000.0

------

The rest of the cells contain the code that I wrote to consolidate the repeats. The control isn't great since I'm dropping all of the NaN values, which wasn't working well because a lot of the 4 to 5 nodes contained NaN values (and I think that's why none of them showed up in the `no_nans.csv`). I'll still comment stuff throughout for clarity!

In [16]:
# find all rows in which the source is not a string (i.e. it's blank or contains 0)
find = []
for i in data.index:
    if type(data.loc[i]['source']) != str:
        find.append(i)

In [17]:
# this cell takes the four columns and if NaN shows up in ANY of the four columns, then the cell is not
# in the final list. This list is used to find the source+target+energy repeats, but not different energy 
# intensity values (#3 on the doc).
consolidate = []

f = data[['source', 'target', 'transmission_kwh/af', 'treatment_kwh/af']]

f.replace(np.nan, False, inplace=True)  # replace the NaN values with False, which makes it easier
                                        # to sort when iterating through the table
for i, a, b, c, d in f.itertuples():
    quads = (a, b, c, d)
    if all(quads):  # if all values in tuple are true, then append the tuple to the list. else, skip over it.
        consolidate.append(quads)
    else:
        pass

consolidate = list(set(consolidate)) # puts it into a set, which removes all duplicates, and convert back to list.
consolidate[:5]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

[('GW1806-3-04.06 ', '1806005PD', 471.0, 65.5),
 ('SW1805023', '1805023PD', 24.6696371, 44.0),
 ('GW1807-4-11.04 ', '1807035PD', 832.0, 65.5),
 ('GW1807-8-01', '1807133PD', 551.0, 3.0),
 ('GW1807202', '1807202PD', 579.0, 3.0)]

In [18]:
# use list of quadruples found in last cell to get the summed volumes for cells, repeated or not. 
# if it isn't repeated, then the volumes are the same.
new_rows = []
for i in consolidate:
    source = i[0]  # first value in tuple was source, second was target, etc.
    target = i[1]
    trans = i[2]
    treat = i[3]
    
    duo = data[(data.source == source) & 
               (data.target == target) & 
               (data['transmission_kwh/af'] == trans) & # find rows in which all four columns  
               (data['treatment_kwh/af'] == treat)]     # match the four values in quadruple
    
    for year in np.arange(2015, 2041, 5):  # iterate through each year again
        new = {}

        new['year'] = year
        new['data_year'] = 2015
        new['source'] = source
        new['target'] = target
        
        # get the year and take the sum of the cumulative volumes; if one rows, volume value stays same.
        sub = duo[duo.year == year]       
        new['cumulative_volume_af'] = sum(sub['cumulative_volume_af'].values)
        
        # keep same trans/trt energy intensities
        new['transmission_kwh/af'] = trans
        new['treatment_kwh/af'] = treat
        
        # sum the used volume if we are dealing with an end node.
        new['used_vol_af'] = sum(sub['used_vol_af'])
        
        # append dictionary to new_rows for use in dataframe
        new_rows.append(new)

In [19]:
# put the cleaned repeats into a dataframe
consol1 = pd.DataFrame(new_rows)
consol1 = consol1[ol.columns]
consol1

,year,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
0,2015,2015,GW1806-3-04.06,1806005PD,3016.716757,471.000000,65.5000,0.0
1,2020,2015,GW1806-3-04.06,1806005PD,2912.374570,471.000000,65.5000,0.0
2,2025,2015,GW1806-3-04.06,1806005PD,3105.714504,471.000000,65.5000,0.0
3,2030,2015,GW1806-3-04.06,1806005PD,3231.538906,471.000000,65.5000,0.0
4,2035,2015,GW1806-3-04.06,1806005PD,3378.845523,471.000000,65.5000,0.0
5,2040,2015,GW1806-3-04.06,1806005PD,3529.221028,471.000000,65.5000,0.0
6,2015,2015,SW1805023,1805023PD,187.653262,24.669637,44.0000,0.0
7,2020,2015,SW1805023,1805023PD,460.333177,24.669637,44.0000,0.0
8,2025,2015,SW1805023,1805023PD,460.333177,24.669637,44.0000,0.0
9,2030,2015,SW1805023,1805023PD,460.333177,24.669637,44.0000,0.0
10,2035,2015,SW1805023,1805023PD,460.333177,24.669637,44.0000,0.0
11,2040,2015,SW1805023,1805023PD,460.333177,24.669637,44.0000,0.0
12,2015,2015,GW1807-4-11.04,1807035PD,15667.000000,832.000000,65.5000,0.0
13,2020,2015,GW1807-4-11.04,1807035PD,19094.000000,832.000000,65.5000,0.0
14,2025,2015,GW1807-4-11.04,1807035PD,19550.000000,832.000000,65.5000,0.0
15,2030,2015,GW1807-4-11.04,1807035PD,19993.000000,832.000000,65.5000,0.0
16,2035,2015,GW1807-4-11.04,1807035PD,20453.000000,832.000000,65.5000,0.0
17,2040,2015,GW1807-4-11.04,1807035PD,20453.000000,832.000000,65.5000,0.0
18,2015,2015,GW1807-8-01,1807133PD,3310.380000,551.000000,3.0000,0.0
19,2020,2015,GW1807-8-01,1807133PD,4215.920000,551.000000,3.0000,0.0
20,2025,2015,GW1807-8-01,1807133PD,4321.050000,551.000000,3.0000,0.0
21,2030,2015,GW1807-8-01,1807133PD,4429.060000,551.000000,3.0000,0.0
22,2035,2015,GW1807-8-01,1807133PD,4541.890000,551.000000,3.0000,0.0
23,2040,2015,GW1807-8-01,1807133PD,4657.800000,551.000000,3.0000,0.0
24,2015,2015,GW1807202,1807202PD,87045.000000,579.000000,3.0000,0.0
25,2020,2015,GW1807202,1807202PD,112670.000000,579.000000,3.0000,0.0
26,2025,2015,GW1807202,1807202PD,110670.000000,579.000000,3.0000,0.0
27,2030,2015,GW1807202,1807202PD,106670.000000,579.000000,3.0000,0.0
28,2035,2015,GW1807202,1807202PD,114670.000000,579.000000,3.0000,0.0
29,2040,2015,GW1807202,1807202PD,114070.000000,579.000000,3.0000,0.0
...,...,...,...,...,...,...,...,...
3246,2015,2015,GW1805-2-09.02,1805015PD,3341.000000,371.000000,65.5000,0.0
3247,2020,2015,GW1805-2-09.02,1805015PD,3824.000000,371.000000,65.5000,0.0
3248,2025,2015,GW1805-2-09.02,1805015PD,3674.000000,371.000000,65.5000,0.0
3249,2030,2015,GW1805-2-09.02,1805015PD,3610.000000,371.000000,65.5000,0.0
3250,2035,2015,GW1805-2-09.02,1805015PD,3570.000000,371.000000,65.5000,0.0
3251,2040,2015,GW1805-2-09.02,1805015PD,3552.000000,371.000000,65.5000,0.0
3252,2015,2015,GW1803-5-22.14,1803041WNPD,41813.000000,399.000000,3.0000,0.0
3253,2020,2015,GW1803-5-22.14,1803041WNPD,86066.000000,399.000000,3.0000,0.0
3254,2025,2015,GW1803-5-22.14,1803041WNPD,86066.000000,399.000000,3.0000,0.0
3255,2030,2015,GW1803-5-22.14,1803041WNPD,86066.000000,399.000000,3.0000,0.0
3256,2035,2015,GW1803-5-22.14,1803041WNPD,86066.000000,399.000000,3.0000,0.0
3257,2040,2015,GW1803-5-22.14,1803041WNPD,86066.000000,399.000000,3.0000,0.0
3258,2015,2015,SW1805081PEN,1805059PD,8774.035723,10.000000,3.0000,0.0
3259,2020,2015,SW1805081PEN,1805059PD,14834.478729,10.000000,3.0000,0.0
3260,2025,2015,SW1805081PEN,1805059PD,16223.551258,10.000000,3.0000,0.0
3261,2030,2015,SW1805081PEN,1805059PD,17623.826726,10.000000,3.0000,0.0
3262,2035,2015,SW1805081PEN,1805059PD,19640.222481,10.000000,3.0000,0.0
3263,2040,2015,SW1805081PEN,1805059PD,19640.222481,10.000000,3.0000,0.0
3264,2015,2015,1803019TREC,1803019NPD,1870.000000,10.000000,97.7625,0.0
3265,2020,2015,1803019TREC,1803019NPD,2913.000000,10.000000,97.7625,0.0
3266,2025,2015,1803019TREC,1803019NPD,3137.000000,10.000000,97.7625,0.0
3267,2030,2015,1803019TREC,1803019NPD,5498.000000,10.000000,97.7625,0.0
3268,2035,2015,1803019TREC,1803019NPD,6273.000000,10.000000,97.7625,0.0
3269,2040,2015,1803019TREC,1803019NPD,6273.000000,10.000000,97.7625,0.0
3270,2015,2015,1803069TREC,1803069NPD,6628.000000,10.000000,44.0000,0.0
3271,2020,2015,1803069TREC,1803069NPD,23100.000000,10.000000,44.0000,0.0
3272,2025,2015,1803069TREC,1803069NPD,23100.000000,10.000000,44.0000,0.0
3273,2030,2015,1803069TREC,1803069NPD,23100.000000,10.000000,44.0000,0.0
3274,2035,2015,1803069TREC,1803069NPD,23100.000000,10.000000,44.0000,0.0
3275,2040,2015,1803069TREC,1803069NPD,23100.000000,10.000000,44.0000,0.0

In [20]:
# write to csv
consol1.to_csv('no_nans.csv', index=False)

----