# Lab 2: Analyzing Water Networks and Energy Use in CA

In this lab, we will be visualizing and analyzing water networks and specific utilities in CA.

In [2]:
from sub_network import subWESTnet
import pandas as pd
import random

Here we will randomize which utility you will be visualizing.

In [3]:
utility_dict = {0:'1803033E', 1:'1805003E', 2:'1809027E', 3:'1810019E', 4:'1805085E', 5:'1807341E'}
my_utility = utility_dict[random.randint(0, 5)]
print(my_utility)

1805085E

Here, we create two graph instances, one upstream from the utility and one downstream from a source that utility is associated with. (I haven't implemented the randomized utility yet, so it's just using the 1805003E utility right now)

In [15]:
upstream_example = subWESTnet('data/links_erl.csv', 2010)
downstream_example = subWESTnet('data/links_erl.csv', 2010)

In [16]:
upstream_example.upstream('1805003E')

Unweighted upstream graph built.

In [17]:
upstream_example.balance_graph()

Graph is weighted.

In [18]:
downstream_example.downstream('SW1805SWP08')
downstream_example.balance_graph()

Unweighted downstream graph complete.
Graph is weighted.

The following attributes of our upstream and downstream examples show the tables of the actually network (by using source and target labels) and the energies associated with each node in the graph.

In [19]:
upstream_example.table()

,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
0,SW1805SWP08,GWR1805-2-09.01,2.490000e+04,83.9285,442.626506,0.000000
1,GWR1805-2-09.01,1805003E,1.570000e+04,318.2000,0.000000,0.000000
2,GW1805-2-09.01,1805003PD,2.730722e+04,352.0000,181.750000,27307.216490
3,GW1805-2-09,GW1805-2-09.01,2.730722e+04,0.0000,0.000000,27307.216490
4,RES_DELVALL,1805003PD,3.191753e+03,87.0000,224.000000,3191.752577
5,SW1805081EB,1805003PD,1.037320e+04,0.0000,26.000000,10373.195880
6,RES1805081,SW1805081SYS,7.687000e+03,0.0000,0.000000,0.000000
7,R_Tuolumn,RES1805081,1.000000e+04,0.0000,0.000000,0.000000
8,SW1805081SYS,SW1805081EB,1.146900e+04,0.7000,0.000000,0.000000
9,SW1805SWP08,1805003PD,2.127835e+03,83.9285,224.000000,2127.835052
10,SW1804SWP06,SW1804SWP07,1.069150e+05,338.9200,0.000000,0.000000
11,SFBayDelta,SWP_SFBayDelta,2.521429e+06,0.0000,0.000000,0.000000
12,R_Calaveras,R_SanJoaquin,1.000000e+05,0.0000,0.000000,0.000000
13,R_Mokelumn,R_SanJoaquin,1.000000e+05,0.0000,0.000000,0.000000
14,R_Stanislaus,R_SanJoaquin,1.000000e+05,0.0000,0.000000,0.000000
15,R_Tuolumn,R_SanJoaquin,1.000000e+05,0.0000,0.000000,0.000000
16,R_SanJoaquin,SFBayDelta,1.000000e+05,0.0000,0.000000,0.000000
17,LK_ShastaCVP,R_Sacramento,3.523210e+05,0.0000,0.000000,0.000000
18,LK_TrinityCVP,R_Sacramento,3.523210e+05,0.0000,0.000000,0.000000
19,R_American,R_Sacramento,1.000000e+05,0.0000,0.000000,0.000000
20,R_AmericanSFRK,R_American,1.000000e+05,0.0000,0.000000,0.000000
21,R_AmericanMFRK,R_AmericanNFRK,1.000000e+05,0.0000,0.000000,0.000000
22,R_AmericanNFRK,R_American,1.000000e+05,0.0000,0.000000,0.000000
23,R_Feather,R_Sacramento,2.521429e+06,0.0000,0.000000,0.000000
24,SW1802SWP01,SW1802SWP02,3.492302e+06,0.0000,0.000000,0.000000
25,Lk_OrovilleSWP,SW1802SWP01,3.492302e+06,0.0000,0.000000,3988.000000
26,SW1802SWP02,R_Feather,3.489552e+06,0.0000,0.000000,968123.000000
27,R_Sacramento,SFBayDelta,2.521429e+06,0.0000,0.000000,0.000000
28,SWP_SFBayDelta,SW1804SWP06,2.485058e+06,0.0000,0.000000,0.000000
29,SW1804SWP07,SW1805SWP08,6.670851e+04,965.2350,0.000000,0.000000
30,1805003PD,1805003E,4.300000e+04,318.2000,0.000000,43000.000000

In [9]:
downstream_example.table()

,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
0,SW1805SWP08,SWP_YBACRD,104.022488,83.9285,224.000000,0.000000
1,SW1805SWP08,1805003PD,2127.835052,83.9285,224.000000,2127.835052
2,1805003PD,1805003E,43000.000000,318.2000,0.000000,43000.000000
3,SW1805SWP08,GWR1805-2-09.01,24900.000000,83.9285,442.626506,0.000000
4,GWR1805-2-09.01,1805001PD,9200.000000,352.0000,26.000000,0.000000
5,1805001PD,1805047PD,3897.492840,25.0000,0.000000,3890.864033
6,1805047PD,1805047E,3890.864033,318.2000,0.000000,3890.864033
7,1805001PD,1805013PD,6849.273294,25.0000,0.000000,6803.900000
8,1805013PD,1805013E,9747.000000,300.0000,0.000000,9747.000000
9,1805001PD,1805029PD,8801.000000,25.0000,0.000000,8742.000000
10,1805029PD,1805029E,8742.000000,318.2000,0.000000,8742.000000
11,1805001PD,1805001E,9200.000000,318.2000,0.000000,0.000000
12,1805001PD,1805075PD,11772.843320,25.0000,0.000000,11658.240000
13,1805075PD,1805075E,14884.680000,318.2000,0.000000,14884.680000
14,GWR1805-2-09.01,1805003E,15700.000000,318.2000,0.000000,0.000000
15,SW1805SWP08,1805001PD,36874.178480,83.9285,224.000000,0.000000
16,SW1805SWP08,1805089PD,43127.988750,25.0000,88.000000,29000.000000
17,1805089PD,1805061PD,993.584360,25.0000,0.000000,986.860000
18,1805061PD,1805061E,10739.820000,318.2000,0.000000,10739.820000
19,1805089PD,1805087PD,3637.799865,25.0000,0.000000,3628.760000
20,1805087PD,1805087E,17268.980000,318.2000,0.000000,17268.980000
21,1805089PD,1805059PD,6235.320563,87.0000,0.000000,6203.779614
22,1805059PD,1805059E,8294.110193,318.2000,0.000000,8294.110193
23,1805089PD,1805015PD,8252.000000,25.0000,0.000000,8252.000000
24,1805015PD,1805015E,11648.000000,301.0000,0.000000,11648.000000
25,1805089PD,1805095PD,8982.000000,25.0000,0.000000,8982.000000
26,1805095PD,1805095E,19942.000000,318.2000,0.000000,19942.000000
27,1805089PD,1805083PD,10735.493510,25.0000,0.000000,10679.760000
28,1805083PD,1805083E,14782.560000,318.2000,0.000000,14782.560000
29,1805089PD,1805085PD,59755.928030,25.0000,0.000000,58952.530000
30,1805085PD,1805085E,119990.780000,318.2000,0.000000,119990.780000
31,1805089PD,1805089E,206190.000000,318.2000,0.000000,206190.000000

In [10]:
upstream_example.energy

               node       kwh/af
0    Lk_OrovilleSWP     0.000000
1       GW1805-2-09     0.000000
2       RES_DELVALL     0.000000
3         R_Tuolumn     0.000000
4       R_Calaveras     0.000000
5        R_Mokelumn     0.000000
6      R_Stanislaus     0.000000
7      R_SanJoaquin     0.000000
8      LK_ShastaCVP     0.000000
9     LK_TrinityCVP     0.000000
10   R_AmericanSFRK     0.000000
11   R_AmericanMFRK     0.000000
12   R_AmericanNFRK     0.000000
13       R_American     0.000000
14      SW1802SWP01     0.000000
15      SW1802SWP02     0.000000
16        R_Feather     0.000000
17     R_Sacramento     0.000000
18   GW1805-2-09.01     0.000000
19       RES1805081     0.000000
20     SW1805081SYS     0.000000
21      SW1805081EB     0.700000
22       SFBayDelta     0.000000
23   SWP_SFBayDelta     0.000000
24      SW1804SWP06     0.000000
25      SW1804SWP07   338.920000
26      SW1805SWP08  1304.155000
27        1805003PD   448.257534
28  GWR1805-2-09.01  1830.710006
29         1805003E  1136.210580

In [11]:
downstream_example.energy

               node      kwh/af
0       SW1805SWP08    0.000000
1        SWP_YBACRD  307.928500
2         1805003PD  307.928500
3   GWR1805-2-09.01  526.555006
4          1805003E  684.602710
5         1805001PD  427.061690
6         1805047PD  452.061690
7          1805047E  770.261690
8         1805013PD  452.061690
9          1805013E  752.061690
10        1805029PD  452.061690
11         1805029E  770.261690
12         1805001E  745.261690
13        1805075PD  452.061690
14         1805075E  770.261690
15        1805089PD  113.000000
16         1805089E  431.200000
17        1805061PD  138.000000
18         1805061E  456.200000
19        1805087PD  138.000000
20         1805087E  456.200000
21        1805059PD  200.000000
22         1805059E  518.200000
23        1805015PD  138.000000
24         1805015E  439.000000
25        1805095PD  138.000000
26         1805095E  456.200000
27        1805083PD  138.000000
28         1805083E  456.200000
29        1805085PD  138.000000
30         1805085E  456.200000

These two cells, take the downstream and upstream tables, and turn them into a dot file. The dotfile is placed in 

ouput/sub_(your_utility_code)_2010__upstream/downstream.dot

In [12]:
upstream_example.to_dot()

In [13]:
downstream_example.to_dot()

go to the dot file (inside the ouput directory where the lab2 notebook is located) and paste the code in the dot file [here](https://dreampuf.github.io/GraphvizOnline/). Make sure to replace the entire code block that is already in the link with the entire code block in our output.dot files.