In [1]:
import pandas as pd
import json
import numpy as np
from sub_network import subWESTnet
import re

In [2]:
network = pd.DataFrame.from_csv('data/links_erl.csv')

C:\Users\jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [3]:
with open('data/data_dict_utility.json') as f:
    data = json.load(f)

In [4]:
utilities = [key for key in data['utility'].keys()]

In [5]:
names = [data['utility'][utility]['supplier'] for utility in utilities]

In [6]:
np.transpose(np.array([utilities, names]))

array([['1805003', 'Alameda County Water District'],
       ['1803033', 'Fresno City of'],
       ['1810019', 'Hi-Desert Water District'],
       ...,
       ['1802105', 'Yuba City City of'],
       ['1807419', 'Yucaipa Valley Water District'],
       ['1807421', 'Yuima Municipal Water District']], dtype='<U73')

In [7]:
with_names = pd.DataFrame(data = np.transpose(np.array([utilities, names])), index = range(505), columns = ['utility_code', 'utility_name'])

In [8]:
with_names['utility_code'] = [elem + 'E' for elem in with_names['utility_code']]

In [9]:
with_names.head()

  utility_code                   utility_name
0     1805003E  Alameda County Water District
1     1803033E                 Fresno City of
2     1810019E       Hi-Desert Water District
3     1807163E    Irvine Ranch Water District
4     1806045E              Morro Bay City of

In [10]:
network.head()

,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
year,,,,,,,
2010-01-01,2010,1801001PD,1801001E,1624.0,163.1,0.0,1624.0
2015-01-01,2010,1801001PD,1801001E,1693.0,163.1,0.0,1693.0
2020-01-01,2010,1801001PD,1801001E,1766.0,163.1,0.0,1766.0
2025-01-01,2010,1801001PD,1801001E,1847.0,163.1,0.0,1847.0
2030-01-01,2010,1801001PD,1801001E,1925.0,163.1,0.0,1925.0

In [11]:
source_names = pd.DataFrame.from_csv('data/Utility codes data dictionary - groundwater aquifers.csv')

C:\Users\jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [12]:
source_names = source_names[source_names['Basin_code'].notnull()]
source_names.head(15)

,Subbasin_NAME,Basin_code,Subbasin_code
Basin_Name,,,
ALEXANDER VALLEY,CLOVERDALE AREA,GW1801-1-54,GW1801-1-54.02
EEL RIVER VALLEY,NaN,GW1801-1-10,GW1801-1-10
EUREKA PLAIN,NaN,GW1801-1-09,GW1801-1-09
LOWER RUSSIAN RIVER VALLEY,NaN,GW1801-1-60,GW1801-1-60
MAD RIVER VALLEY,DOWS PRAIRIE SCHOOL AREA,GW1801-1-08,GW1801-1-08.01
MAD RIVER VALLEY,MAD RIVER LOWLAND,GW1801-1-08,GW1801-1-08.01
SANTA ROSA VALLEY,SANTA ROSA PLAIN,GW1801-1-55,GW1801-1-55
SMITH RIVER PLAIN,NaN,GW1801-1-01,GW1801-1-01
UKIAH VALLEY,NaN,GW1801-1-52,GW1801-1-52
WILSON GROVE FORMATION HIGHLANDS,NaN,GW1801-1-59,GW1801-1-59
SACRAMENTO VALLEY,CORNING,GW1802-5-21,GW1802-5-21.51
SACRAMENTO VALLEY,NORTH YUBA,GW1802-5-21,GW1802-5-21.60
CUMMINGS VALLEY,NaN,GW1803-5-27,GW1803-5-27
SAN JOAQUIN VALLEY,KAWEAH,GW1803-5-22,GW1803-5-22.11
SAN JOAQUIN VALLEY,KERN COUNTY,GW1803-5-22,GW1803-5-22.14

In [13]:
sub_basins = source_names.reset_index()
sub_basins = sub_basins[sub_basins['Subbasin_NAME'].notnull()][['Subbasin_NAME', 'Subbasin_code']]

In [14]:
sub_basins.head()

               Subbasin_NAME   Subbasin_code
0            CLOVERDALE AREA  GW1801-1-54.02
4   DOWS PRAIRIE SCHOOL AREA  GW1801-1-08.01
5          MAD RIVER LOWLAND  GW1801-1-08.01
6           SANTA ROSA PLAIN     GW1801-1-55
10                   CORNING  GW1802-5-21.51

In [15]:
for index in source_names.index:
    print(index)

ALEXANDER VALLEY
EEL RIVER VALLEY
EUREKA PLAIN
LOWER RUSSIAN RIVER VALLEY
MAD RIVER VALLEY
MAD RIVER VALLEY
SANTA ROSA VALLEY
SMITH RIVER PLAIN
UKIAH VALLEY
WILSON GROVE FORMATION HIGHLANDS
SACRAMENTO VALLEY
SACRAMENTO VALLEY
CUMMINGS VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
TEHACHAPI VALLEY WEST
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
SAN JOAQUIN VALLEY
ARROYO DEL HAMBRE VALLEY
HALF MOON BAY TERRACE
LIVERMORE VALLEY
NAPA-SONOMA VALLEY
NAPA-SONOMA VALLEY
NOVATO VALLEY
PETALUMA VALLEY
PITTSBURG PLAIN
SANTA CLARA VALLEY
SANTA CLARA VALLEY
SANTA CLARA VALLEY
SANTA CLARA VALLEY
SUISUN-FAIRFIELD VALLEY
VISITACION VALLEY
WESTSIDE
CARPINTERIA
GILROY-HOLLISTER VALLEY
GILROY-HOLLISTER VALLEY
GILROY-HOLLISTER VALLEY
LOS OSOS VALLEY
MONTECITO
PAJARO VALLEY
SALINAS VALLEY
SALINAS VALLEY
SALINAS VALLEY
SALINAS VALLEY
SALINAS VALLEY
SAN LUIS OBISPO VALLEY
SANTA BARBARA
SANTA MARIA
SANTA ROSA VALLEY
SANTA YNEZ RIVER VALLEY
SCOTTS VALLEY
SOQUEL VALLEY
BEAR VALLEY
COASTAL PLAIN OF LOS ANGELES
COASTAL PLAIN OF LOS ANGELES
COASTAL PLAIN OF LOS ANGELES
COASTAL PLAIN OF ORANGE COUNTY
CONEJO
EL CAJON VALLEY
ELSINORE
LAS POSAS VALLEY
OTAY VALLEY
PLEASANT VALLEY
RAYMOND
SAN DIEGO RIVER VALLEY
SAN FERNANDO VALLEY
SAN GABRIEL VALLEY
SAN JACINTO
SAN JUAN VALLEY
SAN LUIS REY VALLEY
SAN MARCOS AREA
SANTA CLARA RIVER VALLEY
SANTA CLARA RIVER VALLEY
SANTA CLARA RIVER VALLEY
SANTA CLARA RIVER VALLEY
SANTA CLARA RIVER VALLEY
SIMI VALLEY
SWEETWATER VALLEY
TEMECULA VALLEY
TIA JUANA
TIERRA REJADA
UPPER SANTA ANA VALLEY
UPPER SANTA ANA VALLEY
UPPER SANTA ANA VALLEY
UPPER SANTA ANA VALLEY
UPPER SANTA ANA VALLEY
UPPER SANTA ANA VALLEY
TAHOE VALLEY
TAHOE VALLEY
TAHOE VALLEY
ANTELOPE VALLEY
EL MIRAGE VALLEY
FREMONT VALLEY
INDIAN WELLS VALLEY
LOWER MOJAVE RIVER VALLEY
UPPER MOJAVE RIVER VALLEY
COACHELLA VALLEY
COACHELLA VALLEY
COACHELLA VALLEY
IMPERIAL VALLEY
JOHNSON VALLEY
JOSHUA TREE
PALO VERDE VALLEY
WARREN VALLEY
LOWER LAKE VALLEY

In [16]:
basins = source_names.reset_index()[['Basin_Name', 'Basin_code']]

In [17]:
basins.head()

                   Basin_Name   Basin_code
0            ALEXANDER VALLEY  GW1801-1-54
1            EEL RIVER VALLEY  GW1801-1-10
2                EUREKA PLAIN  GW1801-1-09
3  LOWER RUSSIAN RIVER VALLEY  GW1801-1-60
4            MAD RIVER VALLEY  GW1801-1-08

In [18]:
basins = basins.rename(columns = {'Basin_Name':'utility_name', 'Basin_code':'utility_code'})
basins.head()

                 utility_name utility_code
0            ALEXANDER VALLEY  GW1801-1-54
1            EEL RIVER VALLEY  GW1801-1-10
2                EUREKA PLAIN  GW1801-1-09
3  LOWER RUSSIAN RIVER VALLEY  GW1801-1-60
4            MAD RIVER VALLEY  GW1801-1-08

In [19]:
sub_basins = sub_basins.rename(columns={'Subbasin_NAME':'utility_name', 'Subbasin_code':'utility_code'})
sub_basins.head()

                utility_name    utility_code
0            CLOVERDALE AREA  GW1801-1-54.02
4   DOWS PRAIRIE SCHOOL AREA  GW1801-1-08.01
5          MAD RIVER LOWLAND  GW1801-1-08.01
6           SANTA ROSA PLAIN     GW1801-1-55
10                   CORNING  GW1802-5-21.51

In [20]:
sub_basins.shape
basins.shape
with_names.shape

(505, 2)

In [21]:
frames = [with_names, basins, sub_basins]
result = pd.concat(frames)
result.shape

C:\Users\jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

(677, 2)

In [26]:
result[result['utility_code'] == '1807341E']

  utility_code          utility_name
8     1807341E  Santa Monica City of

In [27]:
water_things = list(result['utility_name'])
codes = list(result['utility_code'])

In [28]:
mapping = {}
for i in range(len(water_things)):
    mapping[codes[i]] = water_things[i]

In [29]:
def replace_codes(stringer):
    if stringer in mapping.keys():
        return mapping[stringer]
    return stringer

In [30]:
def master_regex(stringer):
    result = stringer
    for key in mapping.keys():
        stringer = re.sub("( %s )| (\"%s\")" % (key, key), "\"%s \"" % mapping[key], stringer)
        result = stringer
    return result

In [31]:
def lame_regex(stringer):
    stringer = re.sub("1805003E", "Alameda County", stringer)
    stringer = re.sub("1803033E", "Fresno", stringer)
    stringer = re.sub("1810019E", "Hi-Desert", stringer)
    stringer = re.sub("1809027E", "Palmdale", stringer)
    stringer = re.sub("1805085E", "San Jose Water", stringer)
    stringer = re.sub("1807341E", "Malibu", stringer)
    return stringer

In [34]:
upstream_example = subWESTnet('data/links_erl.csv', 2010)
new_upstream_example = subWESTnet('data/fixed_times_erl.csv', 2010)

In [35]:
upstream_example.upstream('1805085E')
new_upstream_example.upstream('San Jose Water Company')

Unweighted upstream graph built.
Unweighted upstream graph built.

In [30]:
upstream_example.balance_graph()

Graph is weighted.

In [31]:
upstream_example.to_dot()

In [32]:
file = open('output/sub_1805003E_2010_upstream.dot', "r")
new_file = open('output/pathetic_attempt_upstream.dot', "w")
for line in file:
    new_file.write(lame_regex(line))
new_file.close()

In [33]:
network['source'] = network['source'].apply(replace_codes)

In [34]:
network['target'] = network['target'].apply(replace_codes)

In [35]:
network[network['target'] == 'Alameda County Water District']

,data_year,source,target,cumulative_volume_af,transmission_kwh/af,treatment_kwh/af,used_vol_af
year,,,,,,,
2010-01-01,2010,1805003PD,Alameda County Water District,43000.0,318.2,0.0,43000.0
2015-01-01,2010,1805003PD,Alameda County Water District,50100.0,318.2,0.0,50100.0
2020-01-01,2010,1805003PD,Alameda County Water District,51600.0,318.2,0.0,51600.0
2025-01-01,2010,1805003PD,Alameda County Water District,53500.0,318.2,0.0,53500.0
2030-01-01,2010,1805003PD,Alameda County Water District,55600.0,318.2,0.0,55600.0
2035-01-01,2010,1805003PD,Alameda County Water District,62100.0,318.2,0.0,62100.0
2010-01-01,2010,GWR1805-2-09.01,Alameda County Water District,15700.0,318.2,0.0,0.0
2015-01-01,2010,GWR1805-2-09.01,Alameda County Water District,16200.0,318.2,0.0,0.0
2020-01-01,2010,GWR1805-2-09.01,Alameda County Water District,16200.0,318.2,0.0,0.0
2025-01-01,2010,GWR1805-2-09.01,Alameda County Water District,16200.0,318.2,0.0,0.0
2030-01-01,2010,GWR1805-2-09.01,Alameda County Water District,16200.0,318.2,0.0,0.0
2035-01-01,2010,GWR1805-2-09.01,Alameda County Water District,16200.0,318.2,0.0,0.0

In [36]:
network.to_csv(path_or_buf='data/named_links_erl.csv')

In [37]:
network[network['source'].notnull()].shape

(11732, 7)

In [38]:
network.shape

(11732, 7)