In [185]:
from datascience import *
import numpy as np

In [186]:
data = Table().read_table('network2010.csv')
data

year | data_year | source    | target    | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1801001PD | 1801001E  | 1624                 | 163.1               | 0                | 1624
2010 | 2010      | 1801007PD | 1801007E  | 2015.2               | 163.1               | 0                | 2015.2
2010 | 2010      | 1801009PD | 1801017PD | 561.768              | 25                  | 0                | 557.004
2010 | 2010      | 1801009PD | 1801009E  | 2924.55              | 163.1               | 0                | 2924.55
2010 | 2010      | 1801011PD | 1801011E  | 1350                 | 163.1               | 0                | 1350
2010 | 2010      | 1801015PD | 1801017PD | 616.923              | 25                  | 0                | 611.692
2010 | 2010      | 1801015PD | 1801015E  | 840                  | 163.1               | 0                | 840
2010 | 2010      | 1801015PD | 1801019PD | 1415                 | 25                  | 0                | 1414.56
2010 | 2010      | 1801015PD | 1801001PD | 1460.72              | 87                  | 0                | 1460.72
2010 | 2010      | 1801015PD | 1801009PD | 2949                 | 25                  | 0                | 2924.55
... (13790 rows omitted)

In [187]:
data_1 = Table().read_table('network2015.csv')
data_1

year | data_year | source      | target     | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1803005NPD  | 1803005E   | 733                  | 17.6                | 0                | 733
2015 | 2015      | SW1803005W  | 1803005NPD | 733                  | 87                  | 236              | 0
2015 | 2015      | 1803005WIMP | 1803005PD  | 962.992              | 0                   | 224              | 0
2040 | 2015      | SW1803005W  | 1803005NPD | 2240                 | 87                  | 236              | 0
2025 | 2015      | 1803005NPD  | 1803005E   | 2240                 | 17.6                | 0                | 2240
2035 | 2015      | SW1803005W  | 1803005NPD | 2240                 | 87                  | 236              | 0
2020 | 2015      | 1803005NPD  | 1803005E   | 2240                 | 17.6                | 0                | 2240
2020 | 2015      | SW1803005W  | 1803005NPD | 2240                 | 87                  | 236              | 0
2030 | 2015      | 1803005NPD  | 1803005E   | 2240                 | 17.6                | 0                | 2240
2030 | 2015      | SW1803005W  | 1803005NPD | 2240                 | 87                  | 236              | 0
... (10716 rows omitted)

# Dictionary For Sources
NPD: Non-potable distribution: Utility + "NPD" for treated non-potable water delivered to end-user

PD: Potable distribution: Utility + "PD" for treated potable water delivered to an end-user

GW: Groundwater: For water sources, “GW” + DWR basin/subbasin code, if basin is known OR “GW” + Utility Code, if not; for groundwater sold
untreated to a retail utility, Utility code + “GW”

GWR: Groundwater recharge: Similar to groundwater codes described above, substituting “GWR” for “GW”

SW: Surface water: "SW" + utility code for unspecified surface water source

# 2010 Data for 6 Utilities

In [188]:
#Getting data for 2010.
data_2010 = data.where(data['year'] == 2010)
data_2010

year | data_year | source    | target    | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1801001PD | 1801001E  | 1624                 | 163.1               | 0                | 1624
2010 | 2010      | 1801007PD | 1801007E  | 2015.2               | 163.1               | 0                | 2015.2
2010 | 2010      | 1801009PD | 1801017PD | 561.768              | 25                  | 0                | 557.004
2010 | 2010      | 1801009PD | 1801009E  | 2924.55              | 163.1               | 0                | 2924.55
2010 | 2010      | 1801011PD | 1801011E  | 1350                 | 163.1               | 0                | 1350
2010 | 2010      | 1801015PD | 1801017PD | 616.923              | 25                  | 0                | 611.692
2010 | 2010      | 1801015PD | 1801015E  | 840                  | 163.1               | 0                | 840
2010 | 2010      | 1801015PD | 1801019PD | 1415                 | 25                  | 0                | 1414.56
2010 | 2010      | 1801015PD | 1801001PD | 1460.72              | 87                  | 0                | 1460.72
2010 | 2010      | 1801015PD | 1801009PD | 2949                 | 25                  | 0                | 2924.55
... (1733 rows omitted)

In [189]:
#Data where target = Alameda County Water District
alameda = data_2010.where(data_2010['target'] == "1805003E")

#where do they get most water?
alameda = alameda.sort('cumulative_volume_af', descending = True)
alameda

#most of the volume came from PD (Portable Distribution) with 318.af transmissionkwh/af.

year | data_year | source           | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1805003PD        | 1805003E | 43000                | 318.2               | 0                | 43000
2010 | 2010      | GWR1805-2-09.01  | 1805003E | 15700                | 318.2               | 0                | 0

In [190]:
#Data where target = Fresno 
fresno = data_2010.where(data_2010['target'] == "1803033E")

#where do they get most water?
fresno = fresno.sort('cumulative_volume_af', descending = True)
fresno

#most of the volume came from PD, cumulative volume af: 61955.8 and transmission kwh/af: 17.6. 
#next is from SW, which required higher cost for transmission energy than GW, but had higher cumulative volume.

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1803033PD  | 1803033E | 61955.8              | 17.6                | 0                | 61955.8
2010 | 2010      | SW_CVPFKC  | 1803033E | 53121                | 23.22               | 0                | 53121
2010 | 2010      | 1803033GW  | 1803033E | 14116.2              | 17.6                | 0                | 0
2010 | 2010      | 1803033NPD | 1803033E | 88                   | 21.12               | 0                | 88

In [191]:
#Data where target = Hi-Desert Water District
hidesert = data_2010.where(data_2010['target'] == "1810019E")
hidesert

#has only one source, which is PD.

year | data_year | source    | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1810019PD | 1810019E | 2956.95              | 17.6                | 0                | 2956.95

In [192]:
#Data where target = Palmdale Water District
palmdale = data_2010.where(data_2010['target'] == "1809027E")
palmdale

#has only one source, which is PD

year | data_year | source    | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1809027PD | 1809027E | 19800                | 163.1               | 0                | 19800

In [193]:
#Data where target = San Jose Water Company
sanjose_water = data_2010.where(data_2010['target'] == "1805085E")

#where do they get most water?
sanjose_water = sanjose_water.sort('cumulative_volume_af', descending = True)
sanjose_water

#highest amount of volume came from PD with lower transmission kwh/af than NPD.

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1805085PD  | 1805085E | 119991               | 318.2               | 0                | 119991
2010 | 2010      | 1805085NPD | 1805085E | 1208                 | 381.84              | 0                | 1208

In [194]:
#Data where target = Santa Monica
santa_monica = data_2010.where(data_2010['target'] == "1807341E")

#where do they get most water?
santa_monica = santa_monica.sort('cumulative_volume_af', descending = True)
santa_monica

#higest volume from PD with lower transmission kwh/af than NPD.

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1807341PD  | 1807341E | 12435.8              | 163.1               | 0                | 12435.8
2010 | 2010      | 1807341NPD | 1807341E | 280                  | 195.72              | 0                | 280

In california, groundwater aquifers are particularly poorly understood and monitored.

Energy mainly depended on the target location rather than the source. The highest transmission energy was required with the target location at Alameda, least energy needed in Fresno.
alameda population: 79,177
hi-desert population: 
fresno population: 527,438

# 2015 Data for 6 Utilities

In [195]:
#Getting data for 2015.
data_2015 = data_1.where(data_1['year'] == 2015)
data_2015

year | data_year | source          | target      | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1803005NPD      | 1803005E    | 733                  | 17.6                | 0                | 733
2015 | 2015      | SW1803005W      | 1803005NPD  | 733                  | 87                  | 236              | 0
2015 | 2015      | 1803005WIMP     | 1803005PD   | 962.992              | 0                   | 224              | 0
2015 | 2015      | 1803041WIMP     | 1803005PD   | 3228.97              | 25                  | 224              | 0
2015 | 2015      | 1803005WIMP     | 1803005WPD  | 4127.24              | 25                  | 0                | 0
2015 | 2015      | 1803005WPD      | 1803005WE   | 4127.24              | 17.6                | 0                | 17586
2015 | 2015      | R_Kern          | 1803005WIMP | 17586                | 0                   | 0                | 0
2015 | 2015      | GW1803-5-22.14  | 1803005PD   | 31029                | 399                 | 181.75           | 0
2015 | 2015      | 1803005PD       | 1803005E    | 35221                | 52.8                | 0                | 35221
2015 | 2015      | GWR1803-5-22.08 | 1803007GW   | 138.1                | 0                   | 0                | 138.1
... (1650 rows omitted)

In [196]:
#Data where target = Alameda County Water District
alameda_1 = data_2015.where(data_2015['target'] == "1805003E")

#where do they get most water?
alameda_1 = alameda_1.sort('cumulative_volume_af', descending = True)
alameda_1

#most of the volume came from PD (Portable Distribution) with 318.af transmissionkwh/af.

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1805003PD  | 1805003E | 51800                | 1909.2              | 0                | 51800
2015 | 2015      | 1805003NPD | 1805003E | 3065                 | 381.84              | 0                | 3065

In [197]:
#Data where target = Fresno 
fresno_1 = data_2015.where(data_2015['target'] == "1803033E")

#where do they get most water?
fresno_1 = fresno_1.sort('cumulative_volume_af', descending = True)
fresno_1

#most of the volume came from PD, cumulative volume af: 61955.8 and transmission kwh/af: 17.6. 
#next is from SW, which required higher cost for transmission energy than GW, but had higher cumulative volume.

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1803033PD  | 1803033E | 113066               | 52.8                | 0                | 113066
2015 | 2015      | 1803033NPD | 1803033E | 15022                | 84.48               | 0                | 15022

In [198]:
#Data where target = Hi-Desert Water District
hidesert_1 = data_2015.where(data_2015['target'] == "1810019E")
hidesert_1

#has only one source, which is PD.

year | data_year | source    | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1810019PD | 1810019E | 2837                 | 88                  | 0                | 2837

In [199]:
#Data where target = Palmdale Water District
palmdale_1 = data_2015.where(data_2015['target'] == "1809027E")
palmdale_1

#has only one source, which is PD

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1809027NPD | 1809027E | 110                  | 195.72              | 0                | 110
2015 | 2015      | 1809027PD  | 1809027E | 17015                | 489.3               | 0                | 17015

In [200]:
#Data where target = San Jose Water Company
sanjose_water_1 = data_2015.where(data_2015['target'] == "1805085E")

#where do they get most water?
sanjose_water_1 = sanjose_water_1.sort('cumulative_volume_af', descending = True)
sanjose_water_1

#highest amount of volume came from PD with lower transmission kwh/af than NPD.

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1805085PD  | 1805085E | 106451               | 954.6               | 0                | 106451
2015 | 2015      | 1805085NPD | 1805085E | 2092.98              | 2227.4              | 0                | 2092.98

In [201]:
#Data where target = Santa Monica
santa_monica_1 = data_2015.where(data_2015['target'] == "1807341E")

#where do they get most water?
santa_monica_1 = santa_monica_1.sort('cumulative_volume_af', descending = True)
santa_monica_1

#higest volume from PD with lower transmission kwh/af than NPD.

year | data_year | source    | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2015 | 2015      | 1807341PD | 1807341E | 11917                | 489.3               | 0                | 11917

In [202]:
alameda_final = alameda.append(alameda_1)
alameda_final

#stopped getting groundwater but used portable and nonportable water as a source.
#increase in cumulative volume

year | data_year | source           | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1805003PD        | 1805003E | 43000                | 318.2               | 0                | 43000
2010 | 2010      | GWR1805-2-09.01  | 1805003E | 15700                | 318.2               | 0                | 0
2015 | 2015      | 1805003PD        | 1805003E | 51800                | 1909.2              | 0                | 51800
2015 | 2015      | 1805003NPD       | 1805003E | 3065                 | 381.84              | 0                | 3065

# Combining Data: 2010 and 2015

In [203]:
fresno_final = fresno.append(fresno_1)
fresno_final
#all from portable and nonportable water andincrease in cumulative volume

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1803033PD  | 1803033E | 61955.8              | 17.6                | 0                | 61955.8
2010 | 2010      | SW_CVPFKC  | 1803033E | 53121                | 23.22               | 0                | 53121
2010 | 2010      | 1803033GW  | 1803033E | 14116.2              | 17.6                | 0                | 0
2010 | 2010      | 1803033NPD | 1803033E | 88                   | 21.12               | 0                | 88
2015 | 2015      | 1803033PD  | 1803033E | 113066               | 52.8                | 0                | 113066
2015 | 2015      | 1803033NPD | 1803033E | 15022                | 84.48               | 0                | 15022

In [204]:
hidesert_final = hidesert.append(hidesert_1)
hidesert_final

year | data_year | source    | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1810019PD | 1810019E | 2956.95              | 17.6                | 0                | 2956.95
2015 | 2015      | 1810019PD | 1810019E | 2837                 | 88                  | 0                | 2837

In [205]:
palmdale_final = palmdale.append(palmdale_1)
palmdale_final

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1809027PD  | 1809027E | 19800                | 163.1               | 0                | 19800
2015 | 2015      | 1809027NPD | 1809027E | 110                  | 195.72              | 0                | 110
2015 | 2015      | 1809027PD  | 1809027E | 17015                | 489.3               | 0                | 17015

In [206]:
sanjose_water_final = sanjose_water.append(sanjose_water_1)
sanjose_water_final

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1805085PD  | 1805085E | 119991               | 318.2               | 0                | 119991
2010 | 2010      | 1805085NPD | 1805085E | 1208                 | 381.84              | 0                | 1208
2015 | 2015      | 1805085PD  | 1805085E | 106451               | 954.6               | 0                | 106451
2015 | 2015      | 1805085NPD | 1805085E | 2092.98              | 2227.4              | 0                | 2092.98

In [207]:
santa_monica_final = santa_monica.append(santa_monica_1)
santa_monica_final

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1807341PD  | 1807341E | 12435.8              | 163.1               | 0                | 12435.8
2010 | 2010      | 1807341NPD | 1807341E | 280                  | 195.72              | 0                | 280
2015 | 2015      | 1807341PD  | 1807341E | 11917                | 489.3               | 0                | 11917

# Let's Observe San Jose Water Utility

In [220]:
sanjose_water_final

year | data_year | source     | target   | cumulative_volume_af | transmission_kwh/af | treatment_kwh/af | used_vol_af
2010 | 2010      | 1805085PD  | 1805085E | 119991               | 318.2               | 0                | 119991
2010 | 2010      | 1805085NPD | 1805085E | 1208                 | 381.84              | 0                | 1208
2015 | 2015      | 1805085PD  | 1805085E | 106451               | 954.6               | 0                | 106451
2015 | 2015      | 1805085NPD | 1805085E | 2092.98              | 2227.4              | 0                | 2092.98

## How to calculate the amount of energy used.
- transmission_kwh = cumulative_volume_af * transmission_kwh/af

## How to calculate the percentage increase.
- Increase = New Number - Original Number
- % Increase = Increase / Original Number * 100

### Analyze the amount of energe used.

In [221]:
#total transmission_kwh in 2010
energy = 119991 * 318.2 + 1208 * 381.84
print ("The total transmission_kwh in 2010 : " + str(energy))

#total transmission_kwh in 2015
energy1 = 106451 * 954.6 + 2092.98 * 2227.4
print ("The total transmission_kwh in 2015 : " + str(energy1))

#percent increase of energy used.
increase = energy1 - energy
percentage_inc = increase / energy * 100
print ("The percentage increase of energy from 2010 to 2015 : " + str(percentage_inc) + "%")

The total transmission_kwh in 2010 : 38642398.919999994
The total transmission_kwh in 2015 : 106280028.252
The percentage increase of energy from 2010 to 2015 : 175.0347577334105%

### Analyze the volume of water transported.

In [222]:
#total volume of water trasported in 2010
volume = 119991 + 1208
print ("The total volume of water transported in 2010: " + str(volume))

#total volume of water transported in 2015
volume1 = 106451 + 2092.98
print ("The total volume of water transported in 2015: " + str(volume1))

#percent decrease in amount of volume transported.
decrease = volume1 - volume
percentage_dec = decrease / volume * 100
print ("The percentage decrease of volume of water transported from 2010 to 2015 : " + str(percentage_dec) + "%")

The total volume of water transported in 2010: 121199
The total volume of water transported in 2015: 108543.98
The percentage decrease of volume of water transported from 2010 to 2015 : -10.441521794734284%